body {
  background-image: url(/Back_ground_img.jpg);
  background-color: transparent;
}
.button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}
.button:hover {
  border-color: rgba(255, 255, 255, 1);
}
@media all and (max-width: 30em) {
  .button {
    display: block;
    margin: 0.2em auto;
  }
}
.separator {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}
.CardHandFont {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  font-weight: bold;
}
.divide {
  color: #fff;
  text-align: center;
  font-size: 20px;
  position: relative;
  margin: 0;
}
.divide span {
  padding: 0 0.3em;
}
.divide:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid #fff;
}

#CardZone {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
#Results {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.CardHand {
  background-color: honeydew;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  border-color: rgb(91, 252, 185);
  border-width: 1px;
}
.HandResult {
  background-color: #f1bb4e;
  border-color: rgb(114, 71, 14);
  border-width: 1px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}
.Card2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nameCard {
  display: flex;
  justify-content: space-around;
}
.Card {
  display: block;
  padding: 0.5rem;
}
div div {
  border: 0px solid rgb(12, 11, 11);
}
#CardTable {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.CardShowdown {
  padding: 1rem;
}
#top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#buttons {
  margin-left: 8rem;
}
.bouncy {
  animation: bouncy 3s infinite linear;
  position: relative;
}
@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
.WinnerHand {
  background-color: #f0bbeb;
  border-color: rgb(156, 86, 148);
  border-width: 1px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
#Winner{
    display: flex;
    justify-content: center;
}
